<div class="container">
  <%= form_for @sea do |f| %>
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name, class:"form-control" %>

    <%= f.label :temperature, "Temperature:" %>
    <%= f.number_field :temperature, class:"form-control"  %>

    <%= f.label :bio,  "Bio: " %>
    <%= f.text_area :bio, class:"form-control"  %>

    <%= f.label :image_url, "Image URL:"%>
    <%= f.text_field :image_url, class:"form-control" %>

    <%= f.label :mood, "Mood:" %>
    <%= f.text_field :mood, class:"form-control"  %>

    <%= f.label :favorite_color, "Favorite Color:" %>
    <%= f.text_field :favorite_color, class:"form-control"  %>

    <%= f.label :scariest_creature, "Scariest Creature:" %>
    <%= f.text_field :scariest_creature, class:"form-control" %>

    <%= f.label :has_mermaids, "Has Mermaids:" %>
    <%= f.check_box :has_mermaids, class:"form-control" %>

    <%=  f.submit class:"form-control btn btn-info" %>

    <% end %>
</div>

<div class="text-center row" style="margin: 1em">
  <div class="col-sm-1">
    <button class="btn btn-info" style="margin: 0 auto"><a href="/seas/<%=@sea.id%>">Back</a></button>
  </div>
  <div class="col-sm-1">
  <button class="btn btn-info" style="margin: 0 auto"><a class="btn-info" href="/seas">All Seas</a></button>
  </div>
  <div class="col-sm-9">
  </div>
  <div class="col-sm-1">
  <form action="/seas/<%=@sea.id%>/delete" method="post" style="margin: 0 auto">
      <input class="btn btn-danger" type="submit" value="Delete"/>
  </form>
  </div>
</div>
